.app {
  text-align: center;
  height: 100%;
  min-height: 100%;
}



.app-header {
  background-color: #0674a0;
  max-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #060308;
}

.app-link {
  color: #060308;
}

.icons-list {
  position: fixed;
  display: inline-block;
  width: 100%;
  background-color: #0674a0;
height: 7vh;

}

.social-media-list {
  display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    position: relative;
    list-style: none;
    padding: 3px;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    margin-inline-start: 15%;
    }

.h3-text {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 2px;
  padding-top: 0px;
}
.h4-text {
  padding-top: 0px;
  margin-top: 2px;
  color: #060308;
}
.app-logo {
  background-size: cover;
  display: block;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  width: 30vh;
 height: 30vh;
 margin-top: 5vh;
}